@import "variables";
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  background: $backgroundColor;
  color: $color_white;
  @include flex-center-justify;
}
#container {
  display: flex;
  width: 1200px;
  align-items: stretch;
  margin: 80px;
}
#left {
  background-color: $backgroundColor-left;
  display: flex;
  @include flex-center-text;
  flex-direction: column;
  padding: 25px;
}
#right {
  flex: 0 0 50%;
  background-color: #e1e0d5;
  color: black;
  padding: 25px;
}
.hexagon {
  width: 150px;
  height: 150px;
  clip-path: $hexagon;
  background: #fff;
  #img-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: $hexagon;
  }
}
.heading-left {
  font-size: 1.5rem;
  font-weight: 600;
}
.heading-right {
  font-size: 1.5rem;
  color: $backgroundColor-left;
  font-weight: 600;
}
.experience-title,
.education-title {
  font-size: 1.25rem;
  color: $backgroundColor-left;
}
.title-profile {
  display: flex;
  align-items: $center;
  width: 100%;
  gap: 6px;
}
.hexagon-icon {
  display: flex;
  @include flex-center-justify;
  clip-path: $hexagon;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  background-color: $color_white;
  margin-right: 10px;
}
.hexagon-left {
  display: flex;
  @include flex-center-justify;
  clip-path: $hexagon;
  width: 50px;
  height: 50px;
  background-color: $backgroundColor-left;
  margin-right: 10px;
}
.hexagon-right {
  display: flex;
  @include flex-center-justify;
  clip-path: $hexagon;
  width: 50px;
  height: 50px;
  background-color: $color_white;
  margin-right: 10px;
}
.icon-title {
  color: #fff;
  font-size: 1.5rem;
}
.icon-title-right {
  color: $backgroundColor-left;
  font-size: 1.5rem;
}
.icon {
  font-size: 1.5rem;
  color: $backgroundColor-left;
}
.line {
  flex: 1;
  height: 2px;
  background-color: $color_white;
}
.line-right {
  flex: 1;
  height: 2px;
  background-color: $backgroundColor-left;
}
.introduce-profile {
  text-align: left;
  margin-left: 5%;
  line-height: 1.25;
}

#contact-profile,
#connect-profile,
#person-skills,
#experience-profile,
#education-profile {
  width: $width_full;
}
#professional-profile,
#proficiency-profile {
  @extend #connect-profile;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 18px;
}
.contact-item,
.connect-item,
.skills-item,
.experience-item,
.education-item {
  display: flex;
  align-items: $center;
  justify-content: flex-start;
}
.professional-item,
.proficiency-item {
  @extend .connect-item;
  gap: 10px;
}
.professional-item {
  p {
    @include item-text;
  }
}

.proficiency-item {
  p {
    @include item-text;
  }
}
.circle {
  flex: 0 0 10px;
  border-radius: 80%;
  border-width: 2px;
  border-style: solid;
  border-color: $color_white;
  width: 10px;
  height: 10px;
  background-color: $color_white;
  margin-right: 20px;
  margin-left: 5%;
}
.circle-right {
  @extend .circle;
  border-color: $backgroundColor-left;
  background-color: $backgroundColor-left;
}
.mana-bar {
  width: 30%;
  height: 14px;
  margin-left: auto;
  background-color: $backgroundColor-left;
  border: 2px solid $color_white;
  border-radius: 30px;
}
.mana-bar-right {
  @extend .mana-bar;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: $color_white;
  border: 2px solid $backgroundColor-left;
  border-radius: 30px;
  overflow: hidden;
}
.mana-fill {
  height: 100%;
  width: 70%;
  background-color: $color_white;
  border-radius: 30px;
  margin-right: -2px;
  flex: 1;
}
.mana-fill-right {
  @extend .mana-fill;
  background-color: $backgroundColor-left;
}
