$backgroundColor: linear-gradient(to right, #7c6f6f, #fff);
$color_white: white;
$center: center;
$backgroundColor-left: rgb(54, 41, 66);
$hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
$width_full: 100%;
